<div style="width:90%; margin:auto auto;">	
	<!-- search form -->
			<form method="post" action="#">
			<div class="row">
				<div class="6u 12u$(mobile)">
					<input type="text" name="name" placeholder="Where do you want to discover?"/>
				</div>				
				<div class="6u$ 12u$(mobile)">
					<input type="submit" value="GO" />
				</div>
			</div>
		</form>
	<!-- search form -->
	<% include listing %>	
</div>		