				<!-- Portfolio -->
					<section>
						<div>

							
						
							<div class="row">
								
								<div class="6u 12u$(mobile)">
									
									<article class="item pague01">
										<a href="/discovers/1" class="image fit"><img src="/images/prague03.jpg" alt="" /></a>
										<header>
											<div class="item-inner">
											<h3>Prague<span class="upvote"><a href="#" style="border: 0px;"><i class="fa fa-heart-o"></i></a>10 </span></h3>
											
											</div>
										</header>
									</article>

									
									
									
									<article class="item">
										<a href="#" class="image fit"><img src="/images/2.jpg" alt="" /></a>
										<header>
											<div class="item-inner">
											<h3>Precita Park<span class="upvote"><a href="#" style="border: 0px;"><i class="fa fa-heart-o"></i></a>17 </span></h3>
											
											</div>
										</header>
									</article>
								</div>
								<div class="6u 12u$(mobile)">
									
									<article class="item">
										<a href="#" class="image fit"><img src="/images/pic04.jpg" alt="" /></a>
										<header>
											<div class="item-inner">
											<h3>San Fancisco<span class="upvote"><a href="#" style="border: 0px;"><i class="fa fa-heart-o"></i></a>29 </span></h3>
											
											</div>
										</header>
									</article>
									<article class="item" id="prague03">
										<a href="#" class="image fit"><img src="/images/6.jpg" alt="" /></a>
										<header>
											<div class="item-inner">
											<h3>Russian River<span class="upvote"><a href="#" style="border: 0px;"><i class="fa fa-heart-o"></i></a>40 </span></h3>
											
											</div>
										</header>
									</article>
								</div>

								
							</div>

						</div>
					</section>