				<!-- Portfolio -->
					<section style="padding:0px;">
						<div>		
							<div class="row row2" style="margin: 0px 0 0px 0px; padding: 0 0 0 0;">
								
								<div class="6u 12u$(mobile)">
									
									<article class="item lg-item">
										<a href="/discovers/1" class="image fit"><img src="/images/9.jpg" alt="" /></a>
										
										<p class="image_caption">
											San Pedro Mountain and Montara Mountain
											<span class="upvote">
												<a href="#" style="border: 0px;">
													<i class="fa fa-chevron-up"></i>
												</a> 
											</span>
											<span class="upvote">
												<a href="#" style="border: 0px;">
													<i class="fa fa-chevron-down"></i>
												</a>
											</span>
									
										</p>
									</article>
									<article class="item lg-item">
										<a href="/discovers/1" class="image fit"><img src="/images/8.jpg" alt="" /></a>
										<p class="image_caption">Mt. Sutro Open Space Reserve
										<span class="upvote">
											<a href="#" style="border: 0px;">
												<i class="fa fa-chevron-up"></i>
											</a> 
										</span>
										<span class="upvote">
											<a href="#" style="border: 0px;">
												<i class="fa fa-chevron-down"></i>
											</a>
										</span>
										</p>
									</article>
									<article class="item lg-item">
										<a href="/discovers/1" class="image fit"><img src="/images/7.jpg" alt="" /></a>
										<p class="image_caption">Russian River
										<span class="upvote">
											<a href="#" style="border: 0px;">
												<i class="fa fa-chevron-up"></i>
											</a> 
										</span>
										<span class="upvote">
											<a href="#" style="border: 0px;">
												<i class="fa fa-chevron-down"></i>
											</a>
										</span>
										</p>
									</article>
									
									
									<article class="item lg-item">
										<a href="#" class="image fit"><img src="/images/1.jpg" alt="" /></a>
										<p class="image_caption">Top of Mount Tam via Fire Access Road
										<span class="upvote">
											<a href="#" style="border: 0px;">
												<i class="fa fa-chevron-up"></i>
											</a> 
										</span>
										<span class="upvote">
											<a href="#" style="border: 0px;">
												<i class="fa fa-chevron-down"></i>
											</a>
										</span>
										</p>
									</article>
								</div>
								<div class="6u 12u$(mobile)">
									
									<article class="item lg-item">
										<a href="#" class="image fit"><img src="/images/2.jpg" alt="" /></a>
										<p class="image_caption">Precita Park
										<span class="upvote">
											<a href="#" style="border: 0px;">
												<i class="fa fa-chevron-up"></i>
											</a> 
										</span>
										<span class="upvote">
											<a href="#" style="border: 0px;">
												<i class="fa fa-chevron-down"></i>
											</a>
										</span>
										</p>
									</article>
									<article class="item lg-item">
										<a href="#" class="image fit"><img src="/images/3.jpg" alt="" /></a>
										<p class="image_caption">Hottub Clubs
										<span class="upvote">
											<a href="#" style="border: 0px;">
												<i class="fa fa-chevron-up"></i>
											</a> 
										</span>
										<span class="upvote">
											<a href="#" style="border: 0px;">
												<i class="fa fa-chevron-down"></i>
											</a>
										</span>
										</p>
									</article>
									<article class="item lg-item">
										<a href="#" class="image fit"><img src="/images/4.jpg" alt="" /></a>
										<p class="image_caption">Mile Rock Beach
										<span class="upvote">
											<a href="#" style="border: 0px;">
												<i class="fa fa-chevron-up"></i>
											</a> 
										</span>
										<span class="upvote">
											<a href="#" style="border: 0px;">
												<i class="fa fa-chevron-down"></i>
											</a>
										</span>
										</p>
									</article>
									<article class="item lg-item">
										<a href="#" class="image fit"><img src="/images/5.jpg" alt="" /></a>
										<p class="image_caption">Cowell Ranch Beach
										<span class="upvote">
											<a href="#" style="border: 0px;">
												<i class="fa fa-chevron-up"></i>
											</a> 
										</span>
										<span class="upvote">
											<a href="#" style="border: 0px;">
												<i class="fa fa-chevron-down"></i>
											</a>
										</span>
										</p>
									</article>
								</div>

								
							</div>

						</div>
					</section>