				<!-- Portfolio -->
					<section style="padding:0px;">
						<div>		
							<div class="row row2" style="margin: 0px 0 0px 0px; padding: 0 0 0 0;">
								
								<div class="6u 12u$(mobile)">
									
									<article class="item lg-item">
										<a href="/discovers/1" class="image fit"><img src="/images/prague03.jpg" alt="" /></a>
										
										<p class="image_caption">
											
											
											dadfasdfahsdfkjhasdjf 
											<span class="upvote">
												<a href="#" style="border: 0px;">
													<i class="fa fa-chevron-up"></i>
												</a> 
											</span>
											<span class="upvote">
												<a href="#" style="border: 0px;">
													<i class="fa fa-chevron-down"></i>
												</a>
											</span>
									
										</p>
									</article>
									<article class="item lg-item">
										<a href="/discovers/1" class="image fit"><img src="/images/pic04.jpg" alt="" /></a>
										<p class="image_caption">dadfasdfahsdfkjhasdjf</p>
									</article>
									<article class="item lg-item">
										<a href="/discovers/1" class="image fit"><img src="/images/pic06.jpg" alt="" /></a>
										<p class="image_caption">dadfasdfahsdfkjhasdjf</p>
									</article>
									
									
									<article class="item lg-item">
										<a href="#" class="image fit"><img src="/images/pic03.jpg" alt="" /></a>
										<p class="image_caption">dadfasdfahsdfkjhasdjf</p>
									</article>
								</div>
								<div class="6u 12u$(mobile)">
									
									<article class="item lg-item">
										<a href="#" class="image fit"><img src="/images/pic04.jpg" alt="" /></a>
										<p class="image_caption">dadfasdfahsdfkjhasdjf</p>
									</article>
									<article class="item lg-item">
										<a href="#" class="image fit"><img src="/images/prague03.jpg" alt="" /></a>
										<p class="image_caption">dadfasdfahsdfkjhasdjf</p>
									</article>
									<article class="item lg-item">
										<a href="#" class="image fit"><img src="/images/pic01.jpg" alt="" /></a>
										<p class="image_caption">dadfasdfahsdfkjhasdjf</p>
									</article>
									<article class="item lg-item">
										<a href="#" class="image fit"><img src="/images/pic02.jpg" alt="" /></a>
										<p class="image_caption">dadfasdfahsdfkjhasdjf</p>
									</article>
								</div>

								
							</div>

						</div>
					</section>