		<!-- Header -->
			<div id="header">
				
				<div class="top">

					

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li style="color: #fff !important;">
									<a href="#top" id="top-link" class="skel-layers-ignoreHref scrollzer-locked active" style="color:#fff;">
									<span class="icon fa-plane" style="color:#fff;">SFO Airport</span>
									
									</a>
								</li>
								<li><a href="#top" data-toggle="modal" data-target="#newStory" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-pencil-square-o">New Story</span></a></li>

								
								<li>
									<a href="#contact" id="contact-link" class="skel-layers-ignoreHref scrollzer-locked active">
										<span class="icon fa-envelope" style="color: #fff;font-weight:bold;">Top Stories</span>
									</a>
									
									<div style="overflow-y: scroll; height:500px;">
										<div class="story-item">
											<p>
												Mine eye and heart are at a mortal war,
											How to divide the conquest of thy sight,
											Mine eye, my heart thy picture's sight would bar,
											My heart, mine eye the freedom of that right,
											My heart doth plead that thou in him dost lie,
											(A closet never pierced with crystal eyes)
											</p>
											<span class="story-writer"><a href="/users/1">- Eileen W. ( 5 days ago)</a></span>
										</div>	
									
										<div class="story-item">
											<p>
												Broad, wholesome, charitable views of men and things cannot be acquired by vegetating in one little corner of the earth all of one’s lifetime.
											</p>
											<span class="story-writer"><a href="/users/1">- Joey S. ( 9 days ago)</a></span>
										</div>	
									
										<div class="story-item">
											<p>
												We must go beyond textbooks, go out into the bypaths and untrodden depths of the wilderness and travel and explore and tell the world the glories of our journey
											</p>
											<span class="story-writer"><a href="/users/1">- Ming J. ( 11 days ago)</a></span>
										</div>	
									
										<div class="story-item">
											<p>
												What you’ve done becomes the judge of what you’re going to do – especially in other people’s minds. When you’re traveling, you are what you are right there and then. People don’t have your past to hold against you. No yesterdays on the road.
											</p>
											<span class="story-writer"><a href="/users/1">- Thomas H. ( 13 days ago)</a></span>
										</div>
										
										<div style="text-align:center;"><a><strong><i class="fa fa-ellipsis-h"></i> </strong></a></div>	
									</div>
									
								</li>
							</ul>
						</nav>

				</div>

				<div class="bottom">

					<!-- Social Icons -->
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>

				</div>

			</div>