		<!-- Header -->
			<div id="header">
				
				<div class="top">

					

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li style="color: #fff !important;">
									<a href="#top" id="top-link" class="skel-layers-ignoreHref">
									<span class="icon fa-plane" style="color:#fff;">SFO Airport</span>
									
									</a>
								</li>
								<li><a href="#top" data-toggle="modal" data-target="#newStory" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-pencil-square-o">New Story</span></a></li>

								
								<li>
									<a href="#contact" id="contact-link" class="skel-layers-ignoreHref scrollzer-locked active">
										<span class="icon fa-envelope" style="color: #fff;font-weight:bold;">Top Stories</span>
									</a>
									<div>
										<div class="story-item">
											<p>
												Mine eye and heart are at a mortal war,
											How to divide the conquest of thy sight,
											Mine eye, my heart thy picture's sight would bar,
											My heart, mine eye the freedom of that right,
											My heart doth plead that thou in him dost lie,
											(A closet never pierced with crystal eyes)
											</p>
											<span class="story-writer"><a href="/users/1">- Eileen W. ( 5 days ago)</a></span>
										</div>	
									</div>
									
									<div>
										<div class="story-item">
											<p>
												先帝創業未半，而中道崩殂；今天下三分，益州疲敝，此誠危急存亡之秋也。然侍衛之臣，不懈於內；忠志之士，忘身於外者：蓋追先帝之殊遇
											</p>
											<span class="story-writer"><a href="/users/1">- Eileen W. ( 8 days ago)</a></span>
										</div>	
									</div>
									
									
								</li>
							</ul>
						</nav>

				</div>

				<div class="bottom">

					<!-- Social Icons -->
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
							<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
							<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>

				</div>

			</div>