<div style="">
<div id="topnav">
	<ul>
		
			<li>
				<a href="/users/1" ><div class="user nav" style="background-image: url('http://s3.amazonaws.com/tripcipe/users/images/000/000/877/square/picture?1434792179');"></div></a>


		<li><a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus-square-o "></i></a></li>
		<li><a href="/explore">Explore</a></li>
		
	</ul>	
</div>	
</div>

