<% layout('./layouts/main_layout') -%>

		
		
		<!-- Main -->
			<div id="main" class="full-width">
				<% include ./partials/topnav %>
				<!-- Intro -->
					<section id="about">
						<div style="width:80%; margin:auto auto;">
							<div >
								<div class="user" style="background-image: url('http://s3.amazonaws.com/tripcipe/users/images/000/000/877/square/picture?1434792179');">
								</div>
							</div>	
							<div style="padding-top:10px;">
								<header><h2>Eileen Wei</h2></header>
							</div>
							<div style="padding-top:20px;width:50%; margin:auto auto;">
								<div class="row profile_stats">
									<div class="3u 12u$(mobile)">	
										<p class="small">FOLLOWER</p>
										<p><strong>20</strong><p>
									</div>
									<div class="3u 12u$(mobile)">	
										<p class="small">FOLLOWING</p>
										<p><strong>40</strong><p>
									</div>
									<div class="3u 12u$(mobile)">	
										<p class="small">DISCOVERED</p>
										<p><strong>4</strong><p>
									</div>
									<div class="3u 12u$(mobile)">	
										<p class="small">SCORE</p>
										<p><strong>103</strong><p>
									</div>
								</div>		
							</div>
						</div>
					</section>
					<div style="width:60%; margin:auto auto;padding-top:60px;padding-bottom:100px;">
						<% include ./partials/listing %>	
					</div>	

				
				



			</div>

